/* v8.6 */
#dgr02 div.rightDate {width:16.5em;text-align:right}
#dgr07 li.activeLink a {margin-left:0}
#dgr08 div.goButton input {padding:2px 18px 0px 0px;height:24px}
#dgr10 li {float:left;width:100%}
#dgr11 div.signiture p.captionText {margin-top:-2px}
#dgr11 span.submitButton input {padding:3px 18px 0px 0px;height:24px}
#dgr11 span.resetButton input {padding:3px 18px 0px 0px;height:24px}
#dgr11 div.formContent div.formHeading h3 {display:block;padding-bottom:0px}
#dgr11 div.formContent div.formHeading h4 {display:block;padding-bottom:0px}
#dgr13 div.formHeading h3 {display:block;padding:0px 0px 0px 10px}
#dgr13 div.searchContent div span {left:0.15em;top:0px}
#dgr14 a {float:left}
#dgr15 div.dcEnvelope input.dcNext {padding:2px 18px 0px 0px;height:22px}
#dgr15 div.dcEnvelope input.dcBack {padding:2px 0px 0px 18px;height:22px}
#dgr15 div.linkSummary a {background-image:none}