@charset "utf-8";
/* Banner form box */

.BannerFormBox {
    background-color: #f2f1ef;
    height: 130px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.BannerFormText {
    float: left;
    width: 250px;
    padding: 5px;
}
.BannerFormText h3 {
    margin-top: 1em;
    margin-bottom: 0em;
}
.BannerFormText p {
    margin-top: 0.25em;
}

.BannerFormForm {
    margin-top: 10px;
    background-color: #ffffff;
    float: right;
    width: 466px;
    margin-right:10px;
}
.mainPromo {
    background-color: #ffffff;
}