@charset "utf-8";
/* Crime box */

#content-wrapper #full-width-content h1 {margin:20px;}
#content-wrapper #full-width-content p {margin:20px;}
#content-wrapper #full-width-content #search-crime {border:dotted 1px #666; padding:5px; background-color:#ffe740; margin:0px;}
#content-wrapper #full-width-content #search-crime h2{font: 160% Verdana, Arial, Helvetica,sans-serif;}
#content-wrapper #full-width-content #search-crime form select {height:28px; *height:22px;padding:4px; width:220px; }
#content-wrapper #full-width-content #search-crime form select option.item {margin:4px 0;}
#content-wrapper #full-width-content #search-crime p{margin:10px 0;padding:0px; font:0.9em/90% Verdana, Arial, Helvetica,sans-serif; color:#000; line-height:14px; }
#content-wrapper #full-width-content .notes {border-top:solid 4px #000; padding:10px;}
#content-wrapper #full-width-content .notes h2 {font: 160% Verdana, Arial, Helvetica,sans-serif;}
#content-wrapper #full-width-content .notes h3{margin:0px 0;}


/* Search */
#content-wrapper #left-content #search {border:solid 1px #666; padding:0 10px 10px 10px; background-color:#ffe740;/*#ffd36b;*/ width:263px;}
#content-wrapper form#crime-type #left-content #search select#service-selector {height:30px; padding:4px; width:260px; }
#content-wrapper form#crime-type #left-content #search select#service-selector option.item {margin:4px 0;}
#content-wrapper #left-content #search p{margin:10px 0;padding:0px; font:0.9em/90% Verdana, Arial, Helvetica,sans-serif; color:#000; line-height:14px; }
#content-wrapper #full-width-content #search-crime form .search-btn, #wrapper #content-wrapper #left-content #search  form .search-btn {border:none; width:100px; display:block; height:26px; margin:10px 0 0 0; cursor:hand;}
#content-wrapper #full-width-content #search-crime form .search-btn, #wrapper #content-wrapper #left-content #search .search-btn{
 -moz-box-shadow:inset 0px 1px 0px 0px #ccc;
 -webkit-box-shadow:inset 0px 1px 0px 0px #ccc;
 box-shadow:inset 0px 1px 0px 0px #303030;
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #303030), color-stop(1, #000000) );
 background:-moz-linear-gradient( center top, #303030 5%, #000000 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#000000');
 background-color:#303030; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px; border:2px solid #303030;
 cursor:pointer;display:inline-block; color:#fff; font-family:Verdana, Arial, Helvetica,sans-serif; font-size:1.1em; font-weight:bold; padding:2px 8px 5px 8px; margin:5px 0; *margin:0; height:26px; text-decoration:none; text-shadow:1px 1px 0px #333333;}
#content-wrapper #left-content #search .search-btn:hover { cursor:pointer;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #303030) ); background:-moz-linear-gradient( center top, #000000 5%, #303030 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#303030');
 background-color:#000000;}
 